/site.zone/*
/site/*
/mysql/*
docker-compose*
Dockerfile
default.conf

# Alphazeta
/app/config/deploy/*
/app/storage/cache/*
/app/storage/sessions/*
/app/storage/error.log
/public/img/cache/*
/public/uploads/*
/vendor-prod/*
/vendor/*
/deploy/*
*.tar*
!/vendor/dev.php

# Composer
composer.lock

#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Don't save phpunit under version control.
phpunit

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

# Admin panel
/spa/node_modules/*
/public/spa/*
